@use 'variables';
@use 'mixins';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    @include mixins.flex(space-between, center , column);
    width: 100%;
    margin: auto;
    height: 100vh;
}

header{
    // display: flex;
    // justify-content: center;
    @include mixins.flex(center, null,  flex-start);
    width: 100%;
    background: variables.$header-color;
    padding: 20px;
}

/* ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 50%;
    font-size: 24px;
} */

body{
    background: variables.$gradient; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: variables.$poppins;
    color: #f2f2f2;
}

.about-me{
    text-align: center;
    @include mixins.flex(center);
    width: 60%;
    box-shadow: variables.$box-shadow;
    border-radius: 10%;
}

.about-me-text{
    @include mixins.flex(center, null, column);
    background-color: variables.$secondary;
    border-radius: 0 10% 10% 0;
    padding: 10px;
}

.about-me-text h2{
    font-size: 32px;
    margin-bottom: 20px;
}

.about-me img{
    width: 350px;
    border-radius: 10% 0 0 10%;
}

.about-me p {
    font-size: 24px;
    line-height: 1.6;
    margin-bottom: 20px;
}

footer{
    background: variables.$footer-color;
    color: rgb(39, 39, 39);
    width: 100%;
    @include mixins.flex(center);
    padding: 20px;
}