// ! Variables
$gradient: linear-gradient( #859398, #283048);
$secondary: #283048;
$footer-color: #f2f2f2;
$header-color: black;
$box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
$poppins: 'Poppins', sans-serif;

